$bgcolorbody: #1c1e29;
$bgimg: no-repeat url(../img/m-h-night.jpg);
$peakscolor: white;
$fontssp: 'Source Sans Pro', sans-serif;
$fonthind: 'Hind', sans-serif;
$awscolor:#ee5a3f;
$buttonbg: #ddaf38;
$welcomecolor: white;
$cardbg: #383d4e;
$chcolor: white;
$ctcolor: #c1c5c5;
$banlcolor:#883251;


