$bgcolorbody:white;
$bgimg: no-repeat url(../img/m-h-day.jpg);
$peakscolor: #282b38;
$fontssp: 'Source Sans Pro', sans-serif;
$fonthind: 'Hind', sans-serif;
$awscolor:#44a0c5;
$buttonbg:#749728;
$welcomecolor: black;
$cardbg: #1c1e29;
$chcolor: white;
$ctcolor: #c1c5c5;
$banlcolor:#2b5dd6;


